.hbe-button
    border: none !important
    padding: 2px 2rem !important
    border-radius: 4px !important
    background: var(--theme-highlight) !important
    color: var(--text-revert) !important
    line-height: 2 !important
    font-size: 14px !important
    font-weight: 500 !important
    font-family: $ff-body !important
    text-indent: 0 !important
    width: auto !important